.data-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  gap: 8vw;
  padding: 100px 4vw;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  flex-direction: column;
}

.data-left {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background2);
  padding: 10px;
  border-radius: 10px;
  gap: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: var(--accent-color1);
}

.chart-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1.5px solid var(--accent-color2);
  padding: 3px;
  gap: 15px;
  width: 90%;
  font-weight: 500;
  color: var(--accent-color1);
}

.radioLable {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 100px;
  width: 33%;
  height: 30px;
  padding: 3px;
  font-weight: bold;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .radioLable {
  background-color: var(--accent-color2);
  color: white;
}

.chart__area {
  flex: auto;
  width: 90%;
  background-color: var(--background3);
  padding: 10px;
  border-radius: 5px;
}

.chart__area__small {
  width: 100%;
  height: 100%;
  background-color: var(--background3);
  padding: 10px;
  border-radius: 5px;
}

.data-right {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 60vh;
  gap: 8vw;
}

.data-reports {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  width: 100%;
  gap: 7.1vw;
}

.report {
  width: 46%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  background-color: var(--background2);
}

.data-monthly {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

.monthly {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  background-color: var(--background3);
}

@media screen and (min-width: 992px) {
  .data-left {
    height: 60vh;
  }

  .data-monthly {
    height: 50%;
  }

  .data-reports {
    gap: 2vw;
  }
  .report {
    flex: 1;
  }
  .monthly {
    flex: 1;
  }
  .data-monthly {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .data-container {
    flex-direction: row;
  }
  .data-left {
    width: 33%;
  }
  .data-right {
    flex: 1 1 0;
    height: 60vh;
    width: 70%;
    gap: 2rem;
  }
  .report {
    width: 22%;
    height: 100%;
  }
  .monthly {
    height: 100%;
    width: 50%;
  }
}
