@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --accent-color1: var(--bluegrey-100);
  --accent-color2: var(--bluegrey-200);
  --card-color: rgb(59, 59, 59);
  --background: var(--bluegrey-900);
  --background2: var(--bluegrey-800);
  --background3: var(--bluegrey-600);
  --bluegrey-50: #f0f4f8;
  --bluegrey-100: #d9e2ec;
  --bluegrey-200: #bcccdc;
  --bluegrey-300: #9fb3c8;
  --bluegrey-400: #829ab1;
  --bluegrey-500: #627d98;
  --bluegrey-600: #486581;
  --bluegrey-700: #334e68;
  --bluegrey-800: #243b53;
  --bluegrey-900: #102a43;
  --font-family: "Lato", sans-serif;
}
[data-theme="light"] {
  --background: var(--bluegrey-100);
  --background2: var(--bluegrey-50);
  --background3: white;
  --card1: var(--bluegrey-100);
  --accent-color1: var(--bluegrey-900);
  --accent-color2: var(--bluegrey-800);
}

Html,
.App,
body {
  min-height: 100vh;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: var(--background);
  font-family: var(--font-family);
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 1080px) {
  .App {
    padding: 0;
  }
}
@media only screen and (max-device-width: 1080px) {
  .App::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  background-color: var(--accent-color2);
  width: 0.4rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--background3);
  border-radius: 100px;
}
